*{
    margin:0;
    padding: 0;
} 
.roboto-uniquifier {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
nav{    
    width: 100%;
    background-color: beige;
    border-top: 5px solid rgb(115, 197, 115);
    padding:15px;
}
a{
    text-decoration: none;
    color:rgb(106, 105, 105);
    padding:2px 15px;
    font-size: 12px;
    font-weight: 600;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin:0 auto;
    width: 70%;
}

#header {
    margin: 0 auto;
    width: 70%;   
}
h1{
    margin: 0 auto;
    width: 70%;
    margin-top:50px;
    font-size: 50px;
}
#uno{
    margin: 0 auto;
    width: 70%;
    margin-bottom: 50px;
}
.main{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
}
.container{
    display: flex;
    flex-direction: column;
}

.aside{
    display: flex;
    flex-direction: column;
    width:50%;
}
footer{
    display: flex;
    flex-direction: column;
}

h1{
    background-color: white;
    padding-top: 25px;
    color: rgb(115, 197, 115);
    font-size:50px;
}

p{
    padding-bottom: 65px;
    color: grey;
}

.main container{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.main h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.main h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:gray;
    margin-bottom: 20px;
}
span{
    color: rgb(115, 197, 115);
}
.main p{
    color:black;
    padding-right: 15px;
}
.container p{
    color: grey;
}
input{
    height: 25px;
}
.aside h2{
    font-size: 15px;
}

.aside section{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.aside p{
    color: grey;
}

.category-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 15px;
    color: rgb(115, 197, 115);
    list-style-type: none;
}

.listados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:5px;
    list-style-type: none;
}
.listados li{
    background-color: #d8d6d6;
    margin: 5px;
    padding: 12px;
    border-radius: 5px;
    font-size: 9px;
}
.pp {
    padding: 5px;
}
.footer {
    display: flex;
    flex-direction: row;
}
.row1 {
    padding: 10px;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(79, 78, 78);
    font-size: 20px;
}
.icons i{
    padding: 0 30px;
}
.row2{
    display: flex;
    flex-direction: row;
    background-color: beige;
}
.row2 h2{
    font-size: 14px;
    padding: 20px 0 ;
}
.row2 div{
    padding: 10px;
    margin:20px;
    border-radius: 5px;
    font-size: 14px;
}
.section1{
    width: 40%;
}
.section2{
    width: 30%;
}
.section2 div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.square{
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: rgb(130, 130, 130);
}
.section3 li{
    list-style-type: none;
    color: grey;
}



@media (max-width:750px) {
    h1{
        margin-left: 10%;
    }
    #header p{
        margin-left: 10%;
    }
    .nav li{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
    }
    .main{
        flex-direction: column;
    }
    .aside{
        display: flex;
        flex-direction: column;
        width:90%;
    }
    .row2 {
        display: flex;
        flex-direction: column;
    }
    .section1{
        width: 90%;
    }
    .section2{
        width: 90%;
    }
    .section3{
        width: 90%;
    }
    

